---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Help me!"
	pubDate={new Date('May 06 2025')}
	heroImage="/img/Aboutme.png"
>
	<p>
		Hello! I go by many names: <br>
		&emsp;- X19A (Or X19Ascension) <br>
		&emsp;- Sasame Izuriha
	</p>

	<p>
		Age: 27 <br>
		Hobbies: Games (Play and Dev), Gunpla buiilding, Reading <br><br>
		Plans: Growing a Youtube Channel, using this website as a dev log and blog!<br><br>
		Jobs:<br>
		&emsp;Current: <br>
		&emsp;&emsp; - none<br>
		&emsp;Previous:<br>
		&emsp;&emsp;- Software Engineer (2.5 Years)<br>
		&emsp;&emsp;- Barista/Bartender (3 Years Total)<br><br>
		Favourite Games:<br>
		&emsp;- Final Fantasy XIV (Raiding)<br>
		&emsp;- Dota 2 (Current Rank: Archon 3)<br>
		&emsp;- Granblue Fantasy<br>
	</p>

	<p>
		Where does this put me now? <br>
		To be honest, I'm not sure! I want to do so many things, i wanna make games, grow my channel,
		 draw, learn an intrusment and much more!
	</p>

	<!--<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>-->
</Layout>
